.contactame
    background-color: maroon
    centrarFlex()
.hablemos
    color: peru
.llamado
    color: white
.contacto
    centrarFlex()
    padding-bottom: 1rem
    text-align: center
fieldset
    max-width 90%
    width 90%
    height: 400px
.formulario
    background-color: black
    color: goldenrod
    height: 400px
    centrarFlex()
input 
    border-radius: 1rem
    height: 2rem
#user
    color: paletaColores.blanco.acento
#rol
    color: salmon
    margin-bottom: 0.5rem
    font-size: 1.4rem
.enviar
    background-color: paletaColores.blanco.acento
    border-radius: 1rem
    border: none
    max-width 150px
    width 150px
    height: auto
    font-size: 1.5rem
    margin 0 auto
.miPerfil
    display: flex
    flex-direction: column
    align-items: center
    gap: 1rem
.llamado2
    text-align: center
    color: white
.redes
    display flex
    flex-direction row
    justify-content: space-around
    gap 4rem
    padding: 1rem
li 
    list-style none
.sociales
    width 50px
    height 50px
    border-radius 50%
    