.derechos
    background-color: black
    color: goldenrod
    text-align: center
    font-size: 1.5rem
    padding: 1rem
@media (min-width 768px) 
    .derechos
        text-align: center
        font-size: 2.5rem
