// Comienza nuestro diseño para PC y Laptop //

@media (min-width: 768px)
    .container
        display: flex
        justify-content: center
        align-items: center
        margin: 0 auto
        gap: 2rem
    p 
        font-size: 1.5rem
    .menu
        display: flex
        flex-direction: row
        justify-content: space-around
        gap: 2rem
        width 700px
        height: 50px
        border-radius: 1rem
    /*.miFlex
        display: grid
        grid-template-columns: repeat(4, 1fr)
        gap: 1rem */
    .avatar
        width 600px
        height 900px
        border-radius: 0
    .grid-skills
        display: grid
        grid-template-columns: repeat(3, 1fr)
        grid-template-rows: repeat(2, 1fr)
    .servicios
        display: grid
        grid-template-columns: repeat(4, 1fr)
    .tarjetas
        max-width: 90%
        width: 90%
        margin: 0 auto
        display: grid
        grid-template-columns: repeat(3, 1fr) 
        grid-template-rows: repeat(4, 1fr)
        gap: 1rem
    .llamado
        max-width 80%
        width 80%
        text-align: center
    fieldset
        width 80%
        max-width 80%
        border-radius: 1rem
    .formulario
        border-radius: 1rem
    input
        width 800px