h1,
h3
    titulotext()
    text-align: center
    margin: 1rem
h3
    color: goldenrod
.grid-skills
    background-color: paletaColores.blanco.acento
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: 5fr
    gap: 1.5rem
    padding: 2rem
   
.card-habilidad
    color white
    text-align center
    padding: 1rem
    background-color: paletaColores.oscuro.fondoOscuro
    centrarFlex()
    border-radius: 1rem
    box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.9)
img
    width 200px
    height: 200px
.servicios
   background-color: thistle
   centrarFlex()
   width 100%
   max-width: 100%
.card
    color: purple
    text-align: center
    parrafotext()
    width 90%
    height: 150px
    margin: 0 auto
    box-shadow: 3px 2px 1px rgba(0, 0, 0, 1)
    border-radius: 1rem


.vectores
    centrarFlex()