// Paleta principal de colores //

paletaColores = {
    blanco:{ 
        primario: #6c63ff
        secundario: #ff4f9a
        acento: orange
        fondoBlanco: #fbf9fb
        texto: #222
    }
    oscuro:{
        fondoOscuro: #1a1a1a
        texto: #fff
        primario: #6c63ff
        secundario: #ff4f9a
        acento: orange
    }
}
tipografia = {
    titulo : "Castoro serif"
    parrafos : "Lato"
}