@import '_variables'
@import '_mixins' 
@import '_reset'  
@import '_menu'  
@import '_banner'
@import '_proyects'
@import '_contact' 
@import '_sobreMi'
@import '_skills'
@import '_footer'   
@import '_media'   